* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f2fbff;
	color: #01579B;
	font-size: 14px;
}

header {
	text-align: center;
	margin-top: 10vh;
}

h1 {
	margin: 2vh 2vw;
	font-size: 4em;
	text-decoration: underline;
	text-decoration-color: #ff6040;
	font-family: 'Oswald', 'Roboto', sans-serif;
}

h2 {
	margin: 2vh 2vw 5vh 2vw;
	font-size: 1.5em;
}

button:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	display: block;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
}

.search-form {
	display: block;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align: center;
}

form > label {
	margin: 2vh 1vw;
}

label > input {
	margin-left: 5px;
}

label[for=search-term] {

}

input[type=text] {
	border-radius: 2px;
	width: 75%;
	margin-top: 1vh;
	padding: 5px;
	font-size: 1.2em;
}

input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid #01579B;
}

label[for=max-results] {
	display: block;
}

input[type=number] {
	
}

input[type=submit] {
	display: block;
	font-weight: bold;
	color: white;
	background: none;
 	border: none;
	background-color: #01579B;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	margin: 3vh auto 1vh auto;
}

.error-message {
    color: red;
}

.hidden {
	display: none;
}

.label-hidden {
	display: none;
}

#results {
	
}

h3 {
	text-align: center;
	margin: 3vh 0 1vh 0;
	font-size: 1.2em;
}

.search-result {
	display: block;
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 2vh;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;

}

.search-result > a {
	
	text-decoration: none;
}

.recipe-label-a {
	display: block;
	padding: 10px 0 0 10px;
}

.recipe-label {
	font-size: 1.2em;
	margin: 0;

}

.recipe-label-a > .recipe-label {
	max-width: 80%;
}

.recipe-source {
	display: block;
	position: relative;
	top: 5px;
	left: 10px;
	margin: 0;
	font-style: italic;
	font-size: 1em;
}

.recipe-img {
	float: right;
	max-width: 35%;
	height: auto;
}

.ingredients-container {
	display: block;
	position: relative;
	top: 0px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;
}

.health-info-container {
	display: block;
	position: relative;
	top: 0px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;
}

h4 {
	font-size: 1.2em;
	margin: 2vh 0 0 10px;
}

.ingredients {
	background-color: white;
	height: auto;
	width: 100%;
	margin: 0;
	padding-left: 10px;
	font-size: .8em;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: auto;
}

.health-info {
	background-color: white;
	height: auto;
	width: 100%;
	margin: 0;
	padding-left: 10px;
	font-size: .8em;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: auto;
}

.ingredients-list {
	display: block;
}

.health-info-list {
	display: block;
}

.expand-buttons {
	position: absolute;
	bottom: 0px;
	width: 60%;
	height: 20%;
}

.show-ingredients {
	font-weight: bold;
	color: white;
	background-color: #afc2cb;
	border: none;
	padding: 0;
	width: 45%;
	height: 100%;
	
}

.show-health-info {
	font-weight: bold;
	color: white;
	background-color: #afc2cb;
	border: none;
	border-radius: 0 5px 0px 0px;
	padding: 0;
	width: 45%;
	height: 100%;
}


