* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #E1F5FE;
	color: #01579B;
}

header {
	text-align: center;
	margin-top: 10vh;
}

h1 {
	margin: 2vh 2vw;
}

h2 {
	margin: 2vh 2vw 5vh 2vw;
}

button, input[type="text"] {
	padding: 5px;
}

button:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	display: block;
	max-width: 600px;
	margin: 0 auto;
}

.search-form {
	display: block;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align: center;
}

form > label {
	margin: 2vh 1vw;
}

label > input {
	margin-left: 5px;
}

label[for=search-term] {

}

input[type=text] {

	border: 1px solid #ECEFF1;
	width: 75%;
	margin-top: 1vh;
}

label[for=max-results] {
	display: block;
}

input[type=number] {
	
}

input[type=submit] {
	display: block;
	font-weight: bold;
	color: white;
	background-color: #01579B;
	border: 1px solid #ECEFF1;
	width: 150px;
	height: 30px;
	margin: 3vh auto 1vh auto;
}

.error-message {
    color: red;
}

.hidden {
	display: none;
}

#results {
	
}

.search-result {
	display: block;
	height: auto;
	width: 100%;
	margin-top: 2vh;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: auto;
}

.recipe-link {
	
	text-decoration: none;
	margin: 10px 0px 0px 10px;
}

.recipe-source {
	
	margin: 5px 0px 0px 10px;
}

.recipe-img {
	float: right;
	max-width: 100px;
	max-height: 100px;
}

.ingredients-list {
	display: block;
}

.expand-buttons {
	margin: 25px 0px 5px 10px;
}
.show-ingredients {
	
}

.show-health-info {
	
}


